* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: border-box;
}

body {
	font-size: 16px;
}

@keyframes circle {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

.page {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: transparent url(./images/song/cover_blur.jpg) no-repeat center;
	background-size: cover;
}

.disc-container {
	position: relative;
}

.disc-container .disc {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.19rem;
}

.disc-container .pointer {
	width: 0.26rem;
	position: absolute;
	left: 0.45rem;
}

.disc-container .ring {
	width: 0.82rem;
}

.disc-container .light {
	width: 0.82rem;
	position: absolute;
}

.disc-container .cover {
	width: 0.52rem;
	position: absolute;
	border-radius: 50%;
}

.disc-container.playing .light, .disc-container.playing .cover {
	animation: circle 26s infinite linear;
}

.song-description {
	flex-grow: 1;
	color: #AEABAC;
	text-align: center;
	line-height: 2;
	margin-top: 20px;
}

.song-description h1 {
	color: white;
	font-size: 18px;
}

.song-description p {
	font-size: 14px;
	line-height: 24px;
}

.song-description .lyric {
	height: 72px;
	overflow: hidden;
}

.song-description p.active {
	color: white;
}

.page > .links {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #D43B32;
}

.page > .links > a{
	width: 0.42rem;
	margin: 1em;
	line-height: 36px;
	text-align: center;
	border: 1px solid #D43B32;
	background: transparent;
	font-size: 18px;
	color: inherit;
	text-decoration: none;
	border-radius: 18px;
	letter-spacing: 2px;
}

.page > .links > a.main {
	background: #D43B32;
	color: white;
}